
p{
    text-align: justify;
    padding: 15px;
}

img{
    margin: 20px;
    width: 300px;
}

/* In CSS, the float property is used to specify how an element should float within its container. It allows you to position an element to the left or right of its container, allowing other content to flow around it. */

/* left: The element floats to the left side of its container. */

/* right: The element floats to the right side of its container. */

/* none (default): The element does not float and is placed in the normal flow of the document. */
/* The element does not float (will be displayed just where it occurs in the text) */

/* nherit: The element inherits the float value from its parent element. */

.img1{
    float: right;
}

.img2{
    float: left;
}

.img3{
    float: right;
}


/* When we use the float property, and we want the next element below (not on right or left), we will have to use the clear property. */

/* The clear property specifies what should happen with the element that is next to a floating element. */

/* none - The element is not pushed below left or right floated elements. This is default */
/* left - The element is pushed below left floated elements */
/* right - The element is pushed below right floated elements */
/* both - The element is pushed below both left and right floated elements */
/* inherit - The element inherits the clear value from its parent */


.img4{
    float: right;
    clear: both;
}


/* The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. */

/* visible - Default. The overflow is not clipped. The content renders outside the element's box */
/* hidden - The overflow is clipped, and the rest of the content will be invisible */
/* scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content */
/* auto - Similar to scroll, but it adds scrollbars only when necessary */

.over{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    padding: 10px;
    text-align: justify;

    overflow: scroll;
}